<% if resource.errors.any? %>
<div id="error_explanation" data-turbo-cache="false">
  <ul>
    <% resource.errors.full_messages.each do |message| %>
    <li class="text-xs m-2 text-red-600" role="alert"><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
